<div class="row-fluid">
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5>业绩统计-甲方公司</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder1" style="padding: 0px; position: relative;"></div>
				</div>
			<!--/widget-main-->
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5>业绩统计-乙方公司</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder2" style="padding: 0px; position: relative;"></div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</div>
</div>