<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form method="post" action="/postHandle">
  		<input type="text" name="UserName"/>
  		<input type="submit" value="Post"/>
  	</form>
  	</form>
  </body>
</html>