td{
	cursor:pointer;
}

#customSearchPanel {
	margin-top: 10px;
	min-height: 100px;
	display: none;
}

.search_title{
	margin-bottom: 5px;
	margin-left: 10px;
}
.baseBox {
	position: relative;
	border:1px solid #d5d5d5;
	padding: 10px;
	height: 160px;
	border-radius: 1px;
}

.baseBox a{
	text-decoration: none;
	color: #a0a0a0;
	font-size: 12px;
	cursor:pointer;
}

.baseBox .remove{
	position: absolute;
	right: 8px;
	top: 5px;
}

.baseBox .title {
	padding-top: 5px;
}
.search_title {
	font-weight: 700;
	line-height: 1.125;
	margin-bottom: 6px;
}