td{
	cursor:pointer;
}

.search_input1{
	width: 213px;
}
#custom_search_panel {
	margin-top: 5px;
	display: none;
}

.basebox {
	border:1px solid #d5d5d5;
	padding: 10px;
	position: relative;
}

.basebox a{
	text-decoration: none;
	color: #a0a0a0;
	font-size: 12px;
	cursor:pointer;
}

#removeBtn {
	position: absolute;
	top: 5px;
	right: 10px;
}

.type_item {
	margin-right: 20px;
}


.group_right {
	margin-left: 35px;
}

.search_group{
	margin-left: 8px;
	margin-top: 5px;
}

.search_input {
	width: 200px;
	margin-top: 8px;
}

.btn-date {
	width: 35px;
	height: 22px;
	margin-bottom: 2px;
}

.search_date {
	margin-top: 8px;
	width: 100px;
}
