<li class="light-blue user-profile">
	<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
		<!--<img class="nav-user-photo" src="{{path.assets}}/avatars/user.jpg" alt="Jason's Photo">-->
		<span id="user_info">
			<small>欢迎回来,</small> {{params.username}}
		</span>
		<i class="icon-caret-down"></i>
	</a>
	<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
		<li><a href="#"><i class="icon-cog"></i> 设置</a></li>
		<li><a href="#"><i class="icon-user"></i> 个人资料</a></li>
		<li class="divider"></li>
		<li><a href="/logout"><i class="icon-off"></i> 注销</a></li>
	</ul>
</li>