	<input id="contractID" type="hidden" value="{{params._id}}">
	<form id="validateForm">
	<div class="widget-box transparent">
		<div class="widget-header">
			<h3 class="smaller lighter green">合同基本信息</h3>
			<div class="widget-toolbar no-border">
				<div clas="btn-group">
					<button id="templateBtn" data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle span12"> 
						使用模板 
						<i class="icon-angle-down icon-on-right"></i>
					</button>

					<ul id="templateList" class="dropdown-menu pull-right"></ul>
				</div>
			</div>
		</div>
	</div>

<div>
	<div>
			<div class="title_left">合同编号</div>
			<input id="myId" name="myId" type="text"  class="span3" placeholder="合同编号">
			<div class="title_right">合同名称</div>
			<input id="name" name="name" type="text"  class="span3" placeholder="合同名称"></div>
	<div>
		<div class="title_left">甲方</div>
		<input id="partyA" name="partyA" type="text"  class="span3" placeholder="甲方">	

		<div class="title_right">乙方</div>
		<input id="partyB" name="partyB" type="text"  class="span3" placeholder="乙方">
	</div>

	<div>
		<div class="title_left">签订日期</div>
		<input name="signPicker" class="date-picker span3" id="signPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">		

		<div class="title_right">开始日期</div>
		<input name="beginPicker" class="date-picker span3" id="beginPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">
	</div>

	<div>
		<div class="title_left">结束日期</div>
		<input name="endPicker" class="date-picker span3" id="endPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">

		<div class="title_right">金额</div>
		<input id="amount" name="amount" type="text"  class="span3" placeholder="金额">
	</div>

	<div>
		<div class="title_left">状态</div>
		<input name="state"  id="state" type="text"  class="span3" placeholder="状态">
	</div>

</div>


	<div class="widget-box transparent">
		<div class="widget-header">
			<h3 class="smaller lighter green">合同事件列表</h3>
			<div class="widget-toolbar no-border">
				<div clas="btn-group">
					<button data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle span12"> 
						<i class="icon-plus icon-on-left"></i>
						增加事件 
						<i class="icon-angle-down icon-on-right"></i>
					</button>

					<ul class="dropdown-menu pull-right">
						<li id="customEventBtn">
							<a>自定义事件</a>
						</li>

						<li id="priceEventBtn">
							<a>回款事件</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</form>
	<ul id="eventsList">
		<div id="blankWarn" class="alert alert-warning">请添加合同事件.</div>

	</ul>

	<div class="row-fluid bottom-cmd">
		<div class="span2">
			<button id="saveAsTemplateBtn" class="btn btn-primary span12">保存为模板</button>
		</div>
		<div class="span6 hidden-phone"></div>
		<div class="span2">
			<a id="backBtn" class="btn span12" href="/contracts">返回</a>
		</div>
		<div class="span2">
			<button id="saveBtn" class="btn btn-success span12" data-last="Finish">保存合同</button>
		</div>
	</div>