	<input id="contractID" type="hidden" value="{{params._id}}">

	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a data-toggle="tab" href="#info"> <i class="green  icon-info-sign bigger-110"></i>
				合同列表
			</a>
		</li>

		<li class="">
			<a data-toggle="tab" href="#attachments">
				<i class="blue icon-download-alt bigger-110"></i>
				附件列表
			</a>
		</li>

		<li class="">
			<a data-toggle="tab" href="#price">
				<i class="red icon-bookmark bigger-110"></i>
				回款计划
			</a>
		</li>
	</ul>


<div class="tab-content">
	<div id="info" class="tab-pane active">
		<form id="validateForm">
	<div class="widget-box transparent">
		<div class="widget-header">
			<h3 class="smaller lighter green">合同基本信息</h3>
			<div class="widget-toolbar no-border">
				<div class="btn-group">
					<button id="templateBtn" data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle"> 
						使用模板 
						<i class="icon-angle-down icon-on-right"></i>
					</button>

					<ul id="templateList" class="dropdown-menu pull-right"></ul>
				</div>
			</div>
		</div>
	</div>
<div class="contract-form form-horizontal row-fluid">
	<div class="span6">
		<div class="control-group ">
			<div class=" title_left">合同编号</div>
			<div class="controls">
				<input id="myId" name="myId" type="text"  class="span10" placeholder="合同编号"></div>
		</div>
		<div class="control-group ">
			<div class=" title_left">甲方</div>
			<div class="controls">
				<input id="partyA" name="partyA" type="text"  class="span5" placeholder="甲方">
				<input id="partyAabbr" name="partyAabbr" type="text"  class="span5" placeholder="简称">
			</div>

		</div>
		<div class="control-group ">
			<div class=" title_left">甲方部门</div>
			<div class="controls">
				<input id="partyADept" name="partyADept" type="text"  class="span10" placeholder="部门">
			</div>

		</div>
		<div class="control-group ">
			<div class=" title_left">签订日期</div>
			<div class="controls">
				<input name="signPicker" class="date-picker span10" id="signPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">
			</div>
		</div>

		<div class="control-group">
			<div class=" title_left">结束日期</div>
			<div class="controls">
				<input name="endPicker" class="date-picker span10" id="endPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">
			</div>
		</div>

		<div class="control-group">
			<div class=" title_left">状态</div>
			<div class="controls">
				<input name="state"  id="state" type="text"  class="span10" placeholder="状态">
			</div>
		</div>

	</div>

	<div class="span6">
		<div class="control-group">
			<div class=" title_right">合同名称</div>	
			<div class="controls">
				<input id="name" name="name" type="text"  class="span10" placeholder="合同名称">
			</div>
		</div>

		<div class="control-group">
			<div class=" title_right">乙方</div>	
			<div class="controls">
				<input id="partyB" name="partyB" type="text"  class="span5" placeholder="乙方">
				<input id="partyBabbr" name="partyBabbr" type="text"  class="span5" placeholder="简称">
			</div>
		</div>

		<div class="control-group ">
			<div class=" title_left">乙方部门</div>
			<div class="controls">
				<input id="partyBDept" name="partyBDept" type="text"  class="span10" placeholder="部门">
			</div>

		</div>

		<div class="control-group">
			<div class=" title_right">开始日期</div>	
			<div class="controls">
				<input name="beginPicker" class="date-picker span10" id="beginPicker" type="text" data-date-format="yyyy-mm-dd" readonly="true">
			</div>
		</div>

		<div class="control-group">
			<div class=" title_right">金额</div>	
			<div class="controls">
				<input id="amount" name="amount" type="text"  class="span10" placeholder="金额">
			</div>
		</div>


	</div>


</div>
</form>

	<div class="widget-box transparent">
		<div class="widget-header">
			<h3 class="smaller lighter green">合同事件列表</h3>
			<div class="widget-toolbar no-border">
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle"> 
						<i class="icon-plus icon-on-left"></i>
						增加事件 
						<i class="icon-angle-down icon-on-right"></i>
					</button>

					<ul class="dropdown-menu pull-right">
						<li id="customEventBtn">
							<a>自定义事件</a>
						</li>

						<li id="priceEventBtn">
							<a>回款事件</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<ul id="eventsList">
		<div id="blankWarn" class="alert alert-warning">请添加合同事件.</div>
	</ul>
	</div>

	<div id="attachments" class="tab-pane">

		<div class="file-list">
			<div class="btn-control">
				<button id="file_upload">选择附件</button>
			</div>
		</div>
	</div>

	<div id="price" class="tab-pane">

	</div>

</div>

	<div class="row-fluid bottom-cmd">
		<div class="span2">
			<button id="saveAsTemplateBtn" class="btn btn-primary span12">保存为模板</button>
		</div>
		<div class="span6 hidden-phone"></div>
		<div class="span2">
			<a id="backBtn" class="btn span12" href="/contracts">返回</a>
		</div>
		<div class="span2">
			<button id="saveBtn" class="btn btn-success span12" data-last="Finish">保存合同</button>
		</div>
	</div>