
<div class="top-bar">
	<input id="keyword" type="text" class="span3 input-medium search-query">
	<input id="searchBtn" class="btn btn-purple btn-small span2" value="搜索" type="button"/>
	<a id="addContractBtn" class="btn btn-success btn-small span2 pull-right" type="button" href="contracts/new">
		添加新合同
	</a>
</div>
<div class="contract-content">
	<h3 class="header smaller lighter green">合同信息列表</h3>
	<table id="table_bug_report" class="table table-striped table-bordered table-hover" algin="center">
		<thead>
			<tr>
				<th class="center">
					合同编号
				</th>
				<th class="center">合同名称</th>
				<th class="center">甲方</th>
				<th class="center">已方</th>
				<th class="center">开始日期</th>
				<th class="center">结束日期</th>
				<th class="center">签订日期</th>
				<th class="center">金额</th>
				<th class="center">状态</th>
			</tr>
		</thead>

		<tbody id="contractsTbody"></tbody>
	</table>
</div>