<div class="span7">
	<h3 class="row-fluid header smaller lighter purple">
		<span class="span7">业绩统计</span>
	</h3>
	<p>
		<div class="widget-box"  style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>甲方公司</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder1" style="height:300px"></div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</p>
	<p style="margin-top:20px">
		<div class="widget-box" style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>乙方公司</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder2"style="height:300px"></div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</p>

	<div class="hr hr32 hr-dotted" style="margin-top:65px"></div>		
</div>

<div class="span5">
	<h3 class="row-fluid header smaller lighter red">
		<span class="span5">代办任务</span>
		<span clas="task-group">
			<button id="taskBtn" data-toggle="dropdown" class="btn btn-small btn-info dropdown-toggle span4 pull-right"> 
				已完成合同
				<i class="icon-angle-down icon-on-right"></i>
			</button>

			<ul id="taskList" class="dropdown-menu pull-right"></ul>
		</span>
	</h3>
	<div class="widget-box">
		<table class="table">
			<tbody id="taskToFinish">
	
			</tbody>
		</table>
	</div>
</div>


