<div class="row-fluid">
	<div class="span6">
		<div class="widget-box"  style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5>业绩统计-甲方公司</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder1" style="height:300px"></div>
				</div>
			<!--/widget-main-->
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box" style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5>业绩统计-乙方公司</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder2"style="height:300px">
					</div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</div>
</div>

<div class="hr hr32 hr-dotted" style="margin-top:60px"></div>
