<div style="margin-top:-10px">
	<h3 class="header smaller lighter blue">
		业绩统计
	</h3>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="widget-box"  style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>甲方公司</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder1" style="height:300px"></div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box" style="height:320px">
			<div class="widget-header widget-header-flat widget-header-small">
				<h4>乙方公司</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div id="placeholder2"style="height:300px"></div>
				</div>
				<!--/widget-main-->
			</div>
		</div>
	</div>
</div>

<div class="hr hr32 hr-dotted" style="margin-top:65px"></div>

<div style="margin-top:-10px">
	<h3 class="header smaller lighter blue">
		<i class="icon-rss orange"></i>代办任务
	</h3>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box"  style="height:320px">
			<div id="taskToFinish"></div>
			</div>
		</div>
	</div>
</div>

<div class="hr hr32 hr-dotted" style="margin-top:-130px"></div>
