<div class="row-fluid" style="margin-top:-10px">
	<div class="span12">
		<div id="table-header">
			<h3 class="header smaller lighter blue">
				待回款<span style="font-size:16px">(已提交付款申请的付款记录)</span>
			</h3>
		</div>
		<table id="table_bug_report" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center" style="width:200px">合同名</th>
					<th class="hidden-480 center">甲方</th>
					<th class="hidden-480 center">乙方</th>
					<th class="center">合同金额</th>
					<th class="center">回款金额</th>
					<th class="hidden-phone center">回款比率</th>
					<th class="hidden-phone center">申请时间</th>
					<th class="center">备注</th>
				</tr>
			</thead>
			<!--插入 tbody-->
			<tbody id="table2">
			</tbody>
		</table>
	</div>
</div><!--table2-->