<input id="pieID" type="hidden" value="{{params._id}}">

<div class="row-fluid">
	<div class="span12">
		<div id="table-header">
			<h3 class="header smaller lighter blue">合同明细 
				<span style="font-size:10px">></span> 
				<span id="detailValue" style="font-size:15px" value=""></span>
				</h3>
		</div>
		<div>
			<table id="table_bug_report" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center span3">合同名</th>
						<th class="center span2">甲方</th>
						<th class="center span2">乙方</th>
						<th class="center span2">合同金额</th>
						<th class="center span2">状态</th>
					</thead>
					<tbody id="pieTable"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>